<template>
  <v-app light>
    <v-toolbar fixed app>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu bottom left>
        <v-btn icon slot="activator">
          <v-icon>more_vert</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="showAddDeviceDialog = true">
            <v-list-tile-title>Add Devices</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="deleting = !deleting">
            <v-list-tile-title>Remove Devices</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <main>
      <!-- Main Content -->
      <v-content>
        <v-container fluid>
          <v-slide-y-transition mode="out-in">
            <v-layout column align-center>
              <!-- Room Cards -->
              <v-card class="room-card" v-for="room in rooms">
                <v-card-title primary-title>
                  <span class="headline">{{ room.text }}</span>
                  <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                  <v-list three-line>
                    <v-list-tile v-for="device in room.devices" href="javascript:;">
                      <v-list-tile-content>
                        <v-btn class="btn-device" :color="deleting ? 'warning': 'secondary'" v-on:click="switchDevice(device.pin, room.text)">
                          {{ device.text }}
                        </v-btn>
                        <v-layout row wrap>
                          <v-flex xs3>
                            <v-btn flat icon v-on:click="addTimerToDevice(device.pin, room.text)">
                              <v-icon>timer</v-icon>
                            </v-btn>
                          </v-flex>
                          <v-flex xs3>
                            <v-btn flat icon v-on:click="deleteDevice(device.pin, room.text)">
                              <v-icon>delete</v-icon>
                            </v-btn>
                          </v-flex>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card-text>
              </v-card>
              <!-- /Room Cards -->

              <!-- Timers Cards -->
              <v-card class="room-card">
                <v-card-title primary-title>
                  <span class="headline">Timers</span>
                  <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                  <v-list three-line>
                    <v-list-tile avatar v-for="timer in timers">
                      <v-list-tile-content>
                        <v-list-tile-title>{{ timer.text }}</v-list-tile-title>
                        <v-list-tile-sub-title>
                          <span v-if="timer.action === 1">Off</span>
                          <span v-if="timer.action === 0">On</span>,
                          {{ timer.time }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card-text>
              </v-card>
              <!-- /Timers Cards -->
            </v-layout>
          </v-slide-y-transition>
        </v-container>
      </v-content>
      <!-- /Main Content -->

      <!-- Add Device Dialog -->
      <v-dialog v-model="showAddDeviceDialog" persistent max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Add Device</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field label="Name" required v-model="newDeviceName"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Pin" required v-model="newDevicePin"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select label="Room" required :items="rooms" v-model="newDeviceRoom">
                  </v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="showAddDeviceDialog = false">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="saveNewDevice()" :disabled="newDeviceRoom === '' || newDevicePin === '' || newDeviceName === ''">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- /Add Device Dialog -->

      <!-- Add Timer Dialog -->
      <v-dialog v-model="showNewTimerDialog" persistent max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Add Timer</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field label="Time" value="12:30:00" type="time" v-model="newTimerSetTime"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select label="Status" required v-model="newTimerSetStatus" :items="[{text: 'Turn On', value: 0},{text: 'Turn Off', value: 1}]">
                  </v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="showNewTimerDialog = false">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="saveNewTimer()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- /Add Timer Dialog -->

    </main>

    <v-footer app>
      <span><a href="http://jamesliveshere.co">James Johnson, 2017</a></span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      title: 'PiSwitch',
      rooms: [{
        text: 'Living Room',
        devices: [{
          text: 'Lamp',
          pin: 4
        },
        {
          text: 'Heater',
          pin: 6
        }]
      }],
      timers: [],
      showAddDeviceDialog: false,
      newDeviceName: '',
      newDevicePin: '',
      newDeviceRoom: '',
      showNewTimerDialog: false,
      newTimerSetStatus: '',
      newTimerSetTime: '',
      editingDevicePin: '',
      editingDeviceName: '',
      deleting: false
    }
  },
  methods: {
    switchDevice: function (pin, roomText) {
      if (!this.deleting) {
        // Send switch request to API
        var xhr = new XMLHttpRequest()
        xhr.open('GET', window.location.origin + `:3000/api/devices/${pin}/switch`)
        xhr.onload = function () {
          console.log(JSON.parse(xhr.responseText))
        }
        xhr.send()
      } else {
        this.deleteDevice(pin, roomText)
      }
    },
    deleteDevice: function (pin, roomText) {
      // Delete a device
      var newDevices = this.rooms.find(room => {
        return room.text === roomText
      }).devices.filter(device => {
        return device.pin !== pin
      })
      this.rooms.find(room => {
        return room.text === roomText
      }).devices = newDevices
    },
    addTimerToDevice: function (pin, deviceText) {
      this.editingDevicePin = pin
      this.editingDeviceName = deviceText
      this.showNewTimerDialog = true
    },
    saveNewTimer: function () {
      var timer = {
        text: this.editingDeviceName,
        pin: this.editingDevicePin,
        time: this.newTimerSetTime,
        action: this.newTimerSetStatus
      }
      this.editingDeviceName = ''
      this.editingDevicePin = ''
      this.timers.push(timer)
      console.log(this.timers)
      this.showNewTimerDialog = false
    },
    saveNewDevice: function () {
      this.rooms.find(room => {
        return room.text === this.newDeviceRoom.text
      }).devices.push({
        text: this.newDeviceName,
        pin: this.newDevicePin
      })
      this.newDevicePin = ''
      this.newDeviceName = ''
      this.newDeviceRoom = ''
      this.showAddDeviceDialog = false
    },
    getAllDevices: function () {
      var devices = []
      this.rooms.forEach(room => {
        console.log(room.devices)
        devices = devices + room.devices
      })
      console.log(devices)
      return devices
    }
  }
}
</script>

<style lang="stylus">
@import './stylus/main'

.room-card
  width: 100%
  max-width: 400px;
  margin-bottom: 26px;

.btn-device
  width: 100%
</style>
